

.accordion {
    background-color: hsl(0, 60%, 98%);
    color: hsla(123, 65%, 63%, 0.863);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: hwb(0 98% 2%);
  }
  .a{
    padding: 0 18px;
    background-color: #e9e7ed;
    display: none;
    overflow: hidden;
  }

.a1{
    display: flex;
   justify-content: space-between;
   justify-content: space-evenly;
    
} 

.b{
    width: 20%;


}

.c{
    width: 20%;


}